@{
    ViewData["Title"] = "Página Principal";
}

<div class="container">
    <h1 class="text-primary">Olá!</h1>
    <hr>
    <p>
        CRUD with ASP.NET Core MVC 6!
    </p>
    <a href="/Home/Users" class="btn btn-primary">Utilizadores</a>
</div>
