@{
    ViewData["Title"] = "Página Principal";
}

<div class="container">
    <h1 class="text-primary">Olá!</h1>
    <hr>
    <p>
        Bem vindo ao ASP.NET Core MVC 6!
    </p>
    <a href="/Home/Register" class="btn btn-primary">Quero me Registar!</a>
</div>
